body {
    margin: 0px;
    padding: 0px;
    background-color: #eee;
}
.header{
    margin: 0px;
    padding: 0px;
    
}
.thead {
background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b4/Santa_fe.jpg);
 width: 100%;
 height: 600px;
 margin-top: -200px;
}
    
a {
    text-decoration: none;
    color: white;  
}

nav {
    background: linear-gradient(90deg, rgba(6,92,242,1) 0%, rgba(9,9,121,0.9654455532212886) 27%, rgba(0,204,255,0.8) 88%);
}

iframe {
    transition: all 0.3s ease;
}

iframe:hover {
    transform: scale(1.2);
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    gap: 25px;
    padding-inline-start: 0px;
    }

nav ul li {
    display: inline;
    height: 40px;
    transition: all 0.15s;
    }

nav ul li:hover {
    transform: scale(1.1);
}

div ul {
    width: 100%;
    margin: 0px;
    text-align: center;
    }
    
div ul li {
    display: inline;
    font-size: x-large;
    justify-content: center;
}
    
section {
    position: relative;
    padding: 0px 80px 50px 80px;
    margin-top: 50px;
  
    
}
    
.titulo {
    color: white;
    padding: 200px 0px 140px 200px;
    font-size: 80px;
    margin: 0px;
    -webkit-text-stroke-color: lightgray;
    -webkit-text-stroke-width: 2px;
    }

    .subtitulo {
    position: relative;
    color: white;
    text-align: left;
    margin-top: 0px;
    margin-left: 200px;
    font-size: 40px;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 1px;
}

.titulos4 {
    text-align: center;
    color: white;
    padding: 200px 0px 140px 0px;
    font-size: 80px;
    margin: 0px;
}

.titulos5 {
    margin-top: 50px;
    width: 100%;
    padding: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-size: xx-large;
}

.titulos6 {
    width: 350px;
    height: 350px;
    font-size: 20px;
    padding: 30px;
    display: inline-block;
    margin: 0px; 
}    
.titulos7 {    
    width: 350px;
    height: 350px;
    font-size: 20px;
    padding: 30px;
    display: inline-block;
    text-align: left;
    bottom: 250px;
}

.imageni {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    border-radius: 15%;
}

.imagend {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    border-radius: 15%;
}

img {
    padding: 20px;
    transition: all 0.3s;
}

img:hover {
    transform: scale(1.05);
}
.imagenc {
    margin-bottom: 30px;
    border-radius: 15%;
   
}

.papa{
    margin: 0px;
}
.imaginar {
    width: 390px;
    height: 390px;
    padding: 20px;
    border-radius: 15%;
}

.texto {
    height: 350px;
    width: 900px;
    overflow: hidden;
    padding: 30px 30px 30px 50px;
    font-size: x-large;
}

.texto2 {
    height: 350px;
    width: 900px;
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    display: inline-block;
    font-size: x-large;
}

.texto3 {
    height: 200px;
    width: 1200px;
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    display: inline-block;
    font-size: x-large; 
}


footer {
    background-color: darkgray;
    width: 100%;
    padding: 50px;
    color: white;
}

.hitos {
    margin-top: 50px;
    height: 600px;
}

#busqueda {
    width: 500px;
}

#centro {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   left: 35%;
   right: 50%;
  
    }


.textocentro {
    text-align: center;
}

.contactoimagen {
    width: 48%;
    height: 300px;
    margin: 0px;
    padding: 0;
    display: inline-block;
}

.contactotexto {
    width: 48%;
    text-align: center;
    height: 300px;
    margin: 0px;
    padding: 0;
    display: inline-block;
    bottom: 150px;
    position: relative;    
}

.uli {
    margin-top: 0px;
    font-size: x-large;
}

.div4 {
    height: 350px;
    width: 1200px;
    overflow: hidden;
    padding: 30px 30px 30px 50px;
    font-size: x-large;
    text-align: center;
}

.diver {
    display: inline-block;
}

.divere {
    text-align: center;
}

.diverso {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;  
   
    }

.botones {
    width: 100%;
    text-align: center;
    margin: 0px;
    height: 40px;
    font-size: x-large;
    text-decoration: none;
    display: inline;
    list-style-type: none;
}

.contenedorindex {
    margin-top: 60px;
    padding: 30px 0px 15px 0px;
    background-color: rgba(0, 0, 255, 0.13);
    border-radius: 5%;
    display: flex;
    flex-wrap: wrap;
}

.contenedorindex2 {
    padding: 30px 0px 30px 0px;
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
}

.contenedorllegar {
    margin-top: 100px;
    flex-wrap: wrap;
    justify-content: center;

}

.row10 {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.textop {
    height: 350px;
    overflow: hidden;
    padding: 30px 30px 30px 30px;
    font-size: x-large;
}


.columnatexto {
font-size: x-large;
text-align: center;
justify-content: center;
}

.row4 {
    margin-bottom: 50px;
}

.row5 {
    justify-content: center;
}

.barrainferior {
    margin:50px;
}

.comollegardiv {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.titulocomo {
    width: 100%;
    text-align: center;
}