body {
    @media screen and (max-width: 576px){
        .texto3{
            font-size: medium;
        }
}
}
.texto2 {
    height: nth($ftama, 8);
    display: inline-block;
    @extend %texto; 
}

.texto3 {
    height: nth($ftama, 7);
    display: inline-block;
    @extend %texto; 
}

.imagenf{
    height: 350px;
}


